:root {
  box-sizing: border-box;
  font-family: $font-primary;
  line-height: 1.5;
  background-color: white;
  color: $color-text-primary;
  font-size: $font-size;
  text-rendering: optimizeLegibility;
}

hr {
  background-color: $color-base-lines;
  height: 1px;
  border: 0;
}

nav {
  ol,
  ul { padding-left: 0; }

  li { list-style: none; }
}

a {
  color: $color-base-primary;
  text-decoration: none;

  &:hover,
  &:focus { text-decoration: underline; }

  &:hover { outline-width: 0; }
}

li, kbd, div, input, option, select, a, textarea, body, span, dd, code, label, [column] {
  margin: 0;
}

a,
area,
button,
input,
label,
select,
textarea,
[tabindex] {
  -ms-touch-action: manipulation;
  touch-action: manipulation;
}

blockquote {
  background: $color-background-light;
  margin: 0;
  margin-top: 1.5em;
  padding: 0.5em 1.5em;
}

body {
  margin: 0;
  font-size: $font-size;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  display: flex;
  flex-flow: row wrap;
  hyphens: auto;
  @include color(background, --bg-color, $theme-light-bg-color);
  @include color(color, --first-text-color, $theme-light-first-text-color);
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-bottom: 2rem;
}

@include max-screen() {
  body {
    border-top: 0;
  }

  .container {
    width: 100%;
  }
}

a {
  @include color(color, --accent-text-color, $theme-light-accent-text-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

pre {
  display: block;
  padding: 1rem;
}

pre, code {
  font-size: 90%;
  overflow: auto;
  font-family: $code-font-family;
  margin-bottom: 0;
}

pre > code {
  display: block;
  border: none;
  font-style: normal;
  font-size: 0.8rem;
}
