body {
  margin: 0;
  font-size: 16px;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  font-family: sans-serif;
  display: flex;
  flex-flow: row wrap;
  hyphens: auto;
  @include color(background, --bg-color, $theme-light-bg-color);
  @include color(color, --first-text-color, $theme-light-first-text-color);
}

.container {
  width: $body-width;
  margin: 0 auto;
  padding-bottom: 4rem;
}

main {
  padding: 0 20px;
}

@include max-screen() {
  body {
    border-top: 0;
  }

  .container {
    width: 100%;
  }
}

a {
  @include color(color, --accent-text-color, $theme-light-accent-text-color);
  text-decoration: none;
}

img {
  max-width: 100%;
  height: auto;
  display: inline-block;
  vertical-align: middle;
}

pre {
  display: block;
  padding: 1rem;
}

pre, code {
  font-size: 90%;
  overflow: auto;
  font-family: $code-font-family;
  margin-bottom: 0;
}

pre > code {
  display: block;
  border: none;
  font-style: normal;
  font-size: 1rem;
}
