pre {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: $font-size-code;
    font-family: $font-mono;

    @include border-color('border-top', 1px, solid, --pre-border, $theme-light-pre-border-color);
    @include border-color('border-bottom', 1px, solid, --pre-border, $theme-light-pre-border-color);

    overflow-x: auto;
}

p code, li code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    @include color('background-color', --code-background-color, $theme-light-code-background-color);
}
