pre {
    padding-top: 1em;
    padding-bottom: 1em;
    font-size: $font-size-code;
    font-family: $font-mono;


    @include border-color('border-top', 1px, solid, --second-text-color, $theme-light-second-text-color);
    @include border-color('border-bottom', 1px, solid, --second-text-color, $theme-light-second-text-color);

    overflow-x: auto;
}

p code, li code {
    padding: .2em .4em;
    margin: 0;
    font-size: 85%;
    background-color: $color-base-selection;
}