#cookies-notice {
  position: fixed;
  right: 0;
  bottom: 0;
  padding: 20px;
  z-index: 9;
  @include color(background-color, --code-color, $theme-light-code-color);

  & .cookie-btn {
    cursor: pointer;
    line-height: 36px;
    border: none;
    font-family: inherit;
    font-size: 16px;
    min-width: 80px;
    @include color(color, --bg-color, $theme-light-bg-color);
    @include color(background-color, --accent-text-color, $theme-light-accent-text-color);

    &:hover {
      @include color(background-color, --accent-second-text-color, $theme-light-accent-second-text-color);
    }
  }

  & .cookie-text {
    @include color(color, --first-text-color, $theme-light-first-text-color);
    font-size: medium;
    margin-bottom: 20px;
    line-height: 1.5;
  }
}
