html[color-theme=dark] #dark-mode, html[color-theme=light] #light-mode, html[color-theme=system] #light-mode {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 20px;
}

.header {
  display: flex;
  align-items: center;

  #system-mode, #dark-mode, #light-mode {
    display: none;

    &:hover svg path {
      @include color(fill, --accent-second-text-color, $theme-light-accent-second-text-color);
    }
  }

  .logo {
    padding: 20px;
    text-decoration: none;
  }

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;

    span {
      margin: 12px;

      a {
        @include color(color, --first-text-color, $theme-light-first-text-color);
        font-size: 18px;
      }

      a:hover {
        @include color(color, --accent-text-color, $theme-light-accent-text-color);
      }
    }
  }
}

.header {
  padding: 1.5em 0;

  .menu {
    min-width: fit-content;
    max-height: none;
    padding: 20px;

    span {
      float: left;
    }

    span a {
      @include underline-from-center;
    }

    .menu:hover > span,
    .menu:focus-within > span,
    .menu span:hover {
      visibility: visible;
      opacity: 1;
    }
  }

  .menu-icon {
    display: none;
  }

  .dark-theme {
    margin-left: auto
  }
}

@media (max-width: 640px) {
  .menu {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
  }
}