// Hide the "dark mode" & the "light mode" buttons
#dark-mode, #light-mode {
  display: none;
}

// And unhide the "dark" or the "light" button depending on the color-theme parameter
html[color-theme=dark] #dark-mode, html[color-theme=light] #light-mode {
  display: block;
  background: none;
  border: none;
  cursor: pointer;
  color: inherit;
  padding: 15px;
}
.menu-icons {
  display: flex;
  margin-left: auto;

  #github-logo {
    padding: 13px;
  }

  & *:hover svg path {
    @include color(fill, --dark-accent-second-text-color, $theme-dark-accent-second-text-color);
  }
}

//.site-header {
//  padding: 0.5em 2em;
//  border-bottom: 1px grey solid;
//  display: flex;
//  align-items: center;
//  margin: 0 auto 2rem;
//
//  .site-header__logo {
//    padding: 10px;
//    text-decoration: none;
//  }
//
//  .site-header__navigation {
//    clear: both;
//    transition: max-height .2s ease-out;
//    min-width: fit-content;
//    margin: 15px;
//
//    span {
//      margin: 4px 12px;
//      float: left;
//
//      a {
//        @include color(color, --first-text-color, $theme-light-first-text-color);
//        font-size: 18px;
//        @include underline-from-center;
//      }
//
//      a:hover {
//        @include color(color, --accent-text-color, $theme-light-accent-text-color);
//      }
//    }
//  }
//

//}
//
@media (max-width: 640px) {
  .menu-links {
    display: flex;
    flex: 1;
    flex-direction: column;
    text-align: center;
  }
}
