.header {
  display: flex;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }

  .logo {
    display: block;
    padding: 20px;
    text-decoration: none;
  }

  .menu {
    clear: both;
    max-height: 0;
    transition: max-height .2s ease-out;

    li {
      margin: 12px;

      a {
        color: #34495e;
        font-size: 18px;
      }

      a:hover {
        color: darkred;
      }
    }

    .dropdown {
      visibility: hidden;
      opacity: 0;
      position: absolute;
      transition: all 0.25s ease;
      margin-top: 0;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .menu-icon {
    cursor: pointer;
    display: inline-block;
    padding: 40px 30px;
    position: relative;
    user-select: none;

    .navicon {
      background: #333;
      display: block;
      height: 2px;
      position: relative;
      transition: background .2s ease-out;
      width: 18px;
    }

    .navicon:before,
    .navicon:after {
      background: #333;
      content: '';
      display: block;
      height: 100%;
      position: absolute;
      transition: all .2s ease-out;
      width: 100%;
    }

    .navicon:before {
      top: 5px;
    }

    .navicon:after {
      top: -5px;
    }
  }

  .menu-btn {
    display: none;
  }

  .menu-btn:checked ~ .menu {
    max-height: 240px;
  }

  .menu-btn:checked ~ .menu-icon {
    .navicon {
      background: transparent;
    }

    .navicon:before {
      transform: rotate(-45deg);
    }

    .navicon:after {
      transform: rotate(45deg);
    }
  }

  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:before,
  .menu-btn:checked ~ .menu-icon:not(.steps) .navicon:after {
    top: 0;
  }

}

/* 48em = 768px */
@media (min-width: 48em) {
  .header {
    padding: 1.5em 0;

    .menu {
      max-height: none;
      padding: 20px ;

      li {
        float: left;
      }

      li a {
        @include underline-from-center;
      }
      li:hover > ul,
      li:focus-within > ul,
      li ul:hover {
        visibility: visible;
        opacity: 1;
      }
    }

    .menu-icon {
      display: none;
    }
  }
}

@media (max-width: 48em) {
  .header {
    justify-content: space-between;
    box-shadow: 1px 1px 4px 0 rgba(0, 0, 0, .1);
    text-align: center;
    margin-bottom: 3em;

    .menu {
      margin-top: 3em;
    }
  }
}
