$body-width: 800px;
$header-height: 60px;

$font-size: 18px;
$font-size-large: 22px;
$font-size-code: 16px;
$font-primary: Helvetica, Arial, sans-serif;
$font-secondary: Helvetica, Arial, sans-serif;
$font-mono: Consolas, monospace;

$code-font-family: Consolas, Monaco, Menlo, Consolas, monospace;

// In order to add new rules, update the '.theme-dark' property from the file _macros.scss.
$theme-light-bg-color: #f6f6f6;
$theme-dark-bg-color: #292929;

$theme-light-header-color: #137;
$theme-dark-header-color: #092459;

$theme-light-first-text-color: #444;
$theme-dark-first-text-color: #b8b8b8;

$theme-light-second-text-color: #888;
$theme-dark-second-text-color: #666;

$theme-light-accent-text-color: #2f84c0;
$theme-dark-accent-text-color: #00a3f1;

$theme-light-accent-second-text-color: #28648f;
$theme-dark-accent-second-text-color: #0e8ecb;

$theme-light-code-color: #efefef;
$theme-dark-code-color: #2f2f2f;

$theme-light-code-background-color: rgba(27,31,35,.05);
$theme-dark-code-background-color: rgb(54, 54, 64);

$theme-light-pre-border-color: #d3d3d3;
$theme-dark-pre-border-color: #4f4f4f;
