#installation-composer {
  pre {
    padding: 1em;

    code::before {
      content: '$ ';
      color: #656565;
    }

    code::after {
      content: "    ";
    }

    code {
      display: inline-block;
      @include color(color, --first-text-color, $theme-light-first-text-color);
      vertical-align: middle;
    }
  }

  .button-copy-code-snippet {
    float: right;
    margin-top: -40px;
  }
}

#installation-composer:hover .button-copy-code-snippet {
  display: inline-block;
  cursor: pointer;
}

.button-copy-code-snippet {
  position: absolute;
  right: 6px;
  @include color(fill, --accent-text-color, $theme-light-accent-text-color);
  padding: 0 0.5em;
}

.button-copy-code-snippet:hover {
  @include color(fill, --accent-second-text-color, $theme-light-accent-second-text-color);
}

.button-copy-code-snippet:active {
  fill: gray;
}

.tooltip-text {
  visibility: hidden;
}

/* Tooltip container */
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 0;
}

/* Tooltip text */
.tooltip .tooltip-text {
  width: 80px;
  background-color: #555;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text */
  position: absolute;
  z-index: 1;
  bottom: 5%;
  left: -50%;
  margin-left: -60px;
}

/* Tooltip arrow */
.tooltip .tooltip-text::after {
  content: "";
  position: absolute;
  top: 35%;
  left: 100%;
  transform:rotate(270deg);
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}
