.layout-container {
  max-width: 1200px;
  margin: -20px auto 20px auto;
  padding-top: 9px;
}

.two-column-layout {
  .two-column-layout__sidebar {
    display: none;
  }

  .two-column-layout__sidebar {
    display: block;
    height: 100%;
    position: fixed;

    .site-navigation {
      overflow-y: auto;
      max-height: calc(100vh - 7rem);
    }
  }

  .two-column-layout__content {
    box-sizing: border-box;
    flex: 1;
    max-width: 800px;
    margin-left: 180px;
    margin-top: 0;
  }
}

#mobile-menu {
  display: none;
}

@media (max-width: 640px) {
  .two-column-layout .two-column-layout__content {
    margin-left: 0;
  }

  .two-column-layout .two-column-layout__sidebar {
    display: none;
  }

  #mobile-menu {
    display: initial;
  }
}
