.layout-container {
  width: 100%;
  margin: -8px auto 8px auto;
  padding-top: 9px;

  @include desktop {
    max-width: 1200px;
  }
}

.two-column-layout {
  margin: 0 auto;
  max-width: 800px;

  .two-column-layout__sidebar {
    display: none;
  }

  .two-column-layout__content {
    padding: 0 1em;
  }

  @include desktop {
    margin: unset;
    max-width: unset;

    .two-column-layout__sidebar {
      @include border-color('border-right', 1px, solid, --second-text-color, $theme-light-second-text-color);
      display: block;
      height: 100%;
      padding: 25px;
      position: fixed;
      width: 11.5em;
      margin-top: -43px;

      .site-navigation {
        overflow-y: auto;
        max-height: calc(100vh - 7rem);
      }
    }

    .two-column-layout__content {
      box-sizing: border-box;
      flex: 1;
      max-width: 790px;
      margin-left: 250px;
      margin-top: 0;
      padding: 0 2em;
    }
  }
}
