$body-width: 800px;

@mixin min-screen($min-width: $body-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin max-screen($max-width: $body-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}


#gacela-logo-head {
  float: right;
}

#projects-using-gacela {
  p {
    display: block;
  }
}

p, p + * {
  font-size: 18px;
  line-height: 30px;
}

#main-footer {
  margin: 60px 20px;
}

@include max-screen() {
  #gacela-project-header {
    display: none;
  }
  #gacela-logo-head {
    text-align: center;
    margin-top: 16px;
    float: none;
  }

  #projects-using-gacela {
    * {
      text-align: center;
    }
  }

  #main-footer {
    text-align: center;
  }
}
