$body-width: 800px;

@mixin min-screen($min-width: $body-width) {
  @media screen and (min-width: $min-width) {
    @content;
  }
}

@mixin max-screen($max-width: $body-width) {
  @media screen and (max-width: $max-width) {
    @content;
  }
}

code {
  color: darkred;
}

ul {
  padding-left: 1em;
}

.container {
  font-family: sans-serif;
}

#gacela-logo-head {
  text-align: center;
  margin-top: 16px;
  display: flex;
  justify-content: center;
}

#projects-using-gacela {
  p {
    display: block;
  }
}

p, p + * {
  font-size: 18px;
  line-height: 30px;
}

#main-footer {
  margin: 60px 20px 0;
}

#gacela-project-header {
  display: none;
}

@include max-screen() {
  #projects-using-gacela {
    * {
      text-align: center;
    }
  }

  #main-footer {
    text-align: center;
  }
}

*:is(main, footer) a:hover {
  color: darkred;
  transition: color 0.25s;
  -webkit-transition: color 0.25s;
  text-decoration: underline;
}

@import "menu";
@import "codeSnippet";