@charset "utf-8";

html {
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

$body-width: 800px;
$theme-light-first-text-color: #444;
$theme-light-second-text-color: #888;
$theme-light-accent-text-color: #b71c1c;
$theme-light-accent-second-text-color: #7f0000;
$theme-light-code-color: #efefef;
$theme-light-bg-color: #f6f6f6;
$theme-dark-first-text-color: #b8b8b8;
$theme-dark-second-text-color: #666;
$theme-dark-accent-text-color: #0086c3;
$theme-dark-accent-second-text-color: #29b6f6;
$theme-dark-code-color: #2f2f2f;
$theme-dark-bg-color: #292929;
$code-font-family: Consolas, Monaco, Menlo, Consolas, monospace;

@mixin color($property, $var, $fallback) {
  #{$property}: $fallback;
  #{$property}: var($var, $fallback);
}

@mixin shadow($property, $shadow, $var, $fallback) {
  #{$property}: $shadow var($var, $fallback);
}

.theme-dark {
  --first-text-color: #{$theme-dark-first-text-color};
  --second-text-color: #{$theme-dark-second-text-color};
  --accent-text-color: #{$theme-dark-accent-text-color};
  --accent-second-text-color: #{$theme-dark-accent-second-text-color};
  --code-color: #{$theme-dark-code-color};
  --bg-color: #{$theme-dark-bg-color};
}

@mixin min-screen($min-width: $body-width) {
   @media screen and (min-width: $min-width) {
     @content;
   }
}

@mixin max-screen($max-width: $body-width) {
   @media screen and (max-width: $max-width) {
     @content;
   }
}

@import "base";
@import "animations";
@import "custom";
@import "menu";
@import "snippet";
@import "team";
@import "cookies";
