@charset "utf-8";

@import 'settings';
@import 'macros';
@import 'base';
@import 'headings';
@import 'lists';
@import 'code';
@import 'one-column-layout';
@import 'two-column-layout';
@import 'site-navigation';
@import 'header';
@import 'search';
@import 'page-toc';
@import "animations";
@import "custom";
@import "menu";
@import "snippet";
@import "team";
@import "cookies";

html {
  font-kerning: normal;
  text-rendering: optimizeLegibility;
  scroll-behavior: smooth;
}

body {
  padding-top: $header-height;
}

footer {
  margin-top: 5em;
  text-align: center;
  font-size: 14px;
}

.zola-anchor {
  font-style: italic;
  padding-left: 0.2em;
}

.flex-container {
  display: flex;
}
