<ul class=top-navigation>
  <li class="top-navigation__item {% if current_path and current_path is containing('/docs/') %}active{% endif %}">
    <a href="/docs/quickstart">Docs</a>
  </li>
  <li class="top-navigation__item {% if current_path and current_path == '/about-gacela/' %}active{% endif %}">
    <a href="/about-gacela">About Gacela</a>
  </li>
  <li class="top-navigation__item {% if current_path and current_path == '/why-decoupling/' %}active{% endif %}">
    <a href="/why-decoupling">Why decoupling?</a>
  </li>
  <li class="top-navigation__item {% if current_path and current_path == '/used-in/' %}active{% endif %}">
    <a href="/used-in">Used in</a>
  </li>
</ul>
