<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html" color-theme="system">
<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta http-equiv="content-type" content="text/html; charset=utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">

  <title>
    {% block title %}
      {% if page.title %}
        {{ page.title }}
      {% elif section.title %}
        {{ section.title }}
      {% else %}
        {{ config.title }}
      {% endif %}
    {% endblock title %} | Gacela
  </title>

  {% block css %}
  <link rel="stylesheet" href="{{ get_url(path='site.css', trailing_slash=false) }}">
  {% endblock css %}

  {% if config.extra.gtag %}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ config.extra.gtag }}"></script>
  <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
      gtag('config', '{{ config.extra.gtag }}');
  </script>
  {% endif %}
  <script type="text/javascript" src="{{ get_url(path='dark-mode.js') | safe }}"></script>
</head>

<body>
<div id="cookies-notice" style="display: none;">
  <p class="cookie-text">Gacela uses cookies to analyse the use of this website</p>
  <button class="cookie-btn" onclick="acceptCookieConsent();">Accept</button>
</div>

{% block body %} {% endblock %}

{% block js_body %} {% endblock %}
<script type="text/javascript" src="{{ get_url(path='cookies.js') | safe }}"></script>
</body>
</html>
