{% extends "base.html" %}

{% block content %}
<div class="container-sm">
    <h1 id="gacela-project-header">Gacela Project</h1>

    <div id="gacela-logo-head">
        <svg width="55%" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 500 480">
            <g fill="none" stroke="#123456" stroke-width="3" stroke-linejoin="round">
                <path d="M5.9,287.9 24.8,229.5 58.4,205.4 43.6,242z"></path>
                <path d="M12.6,462.5 29.1,442.1 32,469.2z"></path>
                <path d="M27.1,330.5 33.9,345.4 50.4,346.9 29.1,442.1 12.6,462.5z"></path>
                <path d="M55.4,262.7 83.5,217.2 147.9,214.9 120.9,292.2 50.4,346.9 33.9,345.4 27.1,330.5z"></path>
                <path d="M58.4,205.4 83.5,217.2 55.4,262.7 43.6,242z"></path>
                <path d="M71.9,343.9 98.8,348.1 111,439.2 103.6,461.9z"></path>
                <path d="M111,439.2 121.9,461.9 103.6,461.9z"></path>
                <path d="M120.9,292.2 218.8,302.7 229.3,267.4 264.4,232.2 147.9,214.9z"></path>
                <path d="M144.5,294.9 120.9,292.2 71.9,330.3 71.9,343.9 98.8,348.1z"></path>
                <path d="M176.9,467.3 195.1,448 228.7,367.2 207.6,367.2 202.8,356.8z"></path>
                <path d="M176.9,467.7 195.1,448 199.1,472.5z"></path>
                <path d="M202.8,356.8 229.3,267.4 264.4,232.2 285.5,273.2 228.7,367.2 207.6,367.2z"></path>
                <path d="M272.3,16.2 376.8,61.5 405.4,106.3 390.4,136.3 383.5,132.1 384.6,121.9 363.5,68.7z"></path>
                <path d="M293.1,9.4 386.3,60.6 412.3,101.7 405.4,106.3 376.8,61.5 340.4,45.7z"></path>
                <path d="M302.9,177.3 147.9,214.9 83.5,217.2 58.4,205.4 133.5,179.7z"></path>
                <path d="M302.9,177.3 379.2,108.2 384.6,121.9 383.5,132.1 390.4,136.3 338.1,192.9z"></path>
                <path d="M303.3,368.6 274.2,297.1 310,267.1 325.5,351.3z"></path>
                <path d="M325.5,351.3 354.6,445.2 344.4,462.2 303.3,368.6z"></path>
                <path d="M338.1,192.9 264.4,232.2 147.9,214.9 302.9,177.3z"></path>
                <path d="M344.4,462.2 354.6,445.2 362.3,462.2z"></path>
                <path d="M365.3,220.7 267.6,302.7 285.5,273.2 264.4,232.2 338.1,192.9z"></path>
                <path d="M365.3,220.7 410.9,165.5 390.4,136.3 338.1,192.9z"></path>
                <path d="M390.4,136.3 383.5,132.1 389.4,78.9 400.3,116.6z"></path>
                <path d="M410.9,165.5 475.6,166.2 390.4,136.3z"></path>
                <path d="M412.3,101.7 433,124.8 482.2,151.3 475.6,166.2 390.4,136.3 405.4,106.3z"></path>
                <path d="M414.5,77 409.2,96.7 405.6,91z"></path>
            </g>
        </svg>
    </div>

    <h2>
        Gacela is a PHP class resolver that helps you improve the design of your application by
        splitting the logic into different modules.
    </h2>

    <div>
        <p>
            Splitting your project into different modules will help its design in
            terms of maintainability and scalability. It will certainly encourage your modules to interact with each
            other in a unified way by
            following these rules:
        </p>
        <ul>
            <li>Modules interact with each other <b>only</b> via their <i>Facade</i>.</li>
            <li>The <a href="/docs/facade">Facade</a> has access to the <i>Factory</i>.</li>
            <li>The <a href="/docs/factory">Factory</a> creates the module's objects.</li>
            <li>The <a href="/docs/config">Config</a> is accessible from the Factory.</li>
            <li>The <a href="/docs/dependency-provider">Dependency Provider</a> gets other <i>Facades</i>.</li>
        </ul>
    </div>

    <div>
        <h3>Installation</h3>
        <p>
            $ <code>composer require gacela-project/gacela</code>
        </p>
    </div>

    <div>
        <h3>Examples</h3>
        <p>
            You can see an example of a module using gacela in this <a href="https://github.com/gacela-project/gacela-example">repository</a>.
        </p>
    </div>

    <div id="projects-using-gacela">
        <h3>Projects using Gacela</h3>
        <p class="project-using-gacela">
            <a href="https://phel-lang.org/" target="_blank">
                <svg width="170px" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 200 170">
                    <path d="M6 66l95 96h36V93l-36-74H42L6 56v106h36l24-35" fill="none" stroke="#512da8" stroke-width="3"/>
                    <path d="M137 93l58-3-12-58-32-26h-34l-16 13-23 9-12 22 46 52z" fill="none" stroke="#512da8" stroke-width="3"/>
                    <path d="M195 90l-12 57h-13l-2-56m2 56l-13-11h12" fill="none" stroke="#512da8" stroke-width="3"/>
                    Phel Lang
                </svg>
            </a>
        </p>
    </div>
</div>
{% endblock content %}

{% block js_body %}
<script type="text/javascript" src="{{ get_url(path="even.js", trailing_slash=false) }}" ></script>
<script type="text/javascript" src="{{ get_url(path="default.js", trailing_slash=false) }}" ></script>
{% endblock js_body %}