{% extends "base.html" %}

{% block content %}
    <p><a href="/docs">↩ Back to the index</a></p>
    <div style="text-align: center">
        <a href="/docs/facade">Facade</a>
        ● <a href="/docs/factory">Factory</a>
        ● <a href="/docs/config">Config</a>
        ● <a href="/docs/provider">Provider</a>
        ● <a href="/docs/code-generator">Code&nbsp;Generator</a>
        ● <a href="/docs/why-decoupling">Decoupling</a>
        ● <a href="/docs/modules">Modules</a>
    </div>
    {{ section.content | safe }}
{% endblock content %}